<?xml version="1.0"?>

<model>
  <name>RexarmGripper</name>
  <version>1.0.0</version>
  <sdf version="1.5">rexarm_gripper.sdf</sdf>

  <author>
    <name>Fang-Yi Chen</name>
    <email>fangyich@umich.edu</email>
  </author>

  <description>
    The model of the rexarm equipped with gripper.
  </description>
</model>
